<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7a0ee2f1-6fe6-4809-b257-7558c03e6783/resourceGroups/SlowdownApp-rg/providers/Microsoft.Web/sites/Slowdown-dev</ResourceId>
    <ResourceGroup>SlowdownApp-rg</ResourceGroup>
    <ApiResourceId>/subscriptions/7a0ee2f1-6fe6-4809-b257-7558c03e6783/resourceGroups/Slowdown-rg/providers/Microsoft.ApiManagement/service/ServerSlowdownapi/apis/ServerSlowdown</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://slowdown-dev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>086d1702-874a-4833-b61f-36bf4ddce243</ProjectGuid>
    <MSDeployServiceURL>slowdown-dev.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Slowdown-dev</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$Slowdown-dev</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>